<p id="notice"><%= notice %></p>

<h1>Chuck Norris Facts</h1>


<nav>
<%= link_to button_tag('New Fact', class: 'btn btn-primary'), new_fact_path %>
<%= link_to button_tag('Get a Random Fact', class: 'btn btn-primary'), new_fact_path %>
</nav>

<div class="row">
    
  <% @facts.each_with_index do |fact, index| %>
  <div class="col-sm-4">
  <div class="card" style="width: 20rem; padding-bottom: 10px;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="photo" style="height: 200px; width: 100%; overflow: hidden;">
    <%= image_tag fact.image.url,  class:"card-img-top" %>
    </div>
    <div class="card-block">
      <h4 class="card-title">Chuck Norris Fact #<%= index+1 %></h4>
      <p class="card-text">
        <%= fact.fact %>
      </p>
      <p>
        Votes: <%= fact.vote.count %>
      </p>
      <!-- Vote button -->
      <%= form_with model: fact, method: :patch do |f| %>
      <%= f.hidden_field :vote %>
      <%= f.submit 'Vote', class: 'btn btn-primary' %>
      <%= link_to button_tag('Edit', class: 'btn btn-info'), edit_fact_path(fact) %>
      <%= link_to button_tag('Delete', class: 'btn btn-info'), fact, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      
    </div>
  </div>
  <br>
  </div>
  <% end %>
</div>
