<p id="notice"><%= notice %></p>

<!-- <h1>Chuck Norris Facts</h1> -->



<div class="row">
  <% @facts.each_with_index do |fact, index| %>
  <div class="col-sm-4">
    <div class="card">
      <div class="photo">
        <%= image_tag fact.image.url,  class:"card-img-top" %>
      </div>
      <div class="card-block">
        <h4 class="card-title">Fact # <%= index+1 %></h4>
        <p class="card-text">
          <%= fact.fact %>
        </p>
        <div class="votes">
          Votes: <%= fact.vote.count %>
        </div>
        <!-- Vote button -->
        <%= form_with model: fact, method: :patch do |f| %>
        <%= f.hidden_field :vote %>
        <div class="card-nav">
          <%= f.submit 'Vote', class: 'btn btn-primary' %>
          <%= link_to button_tag('Edit', class: 'btn btn-info'), edit_fact_path(fact) %>
          <%= link_to button_tag('Delete', class: 'btn btn-info'), fact, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>
    </div>
    <br>
  </div>
  <% end %>
</div>
