<h1>Random Chuck Norris Fact</h1><br>
<div class="random-fact">
  <div class="card">
    <div class="photo">
      <%= image_tag @fact.image.url,  class:"card-img-top" %>
    </div>
    <div class="card-block">
      <h4 class="card-title"></h4>
      <p class="card-text">
        <%= @fact.fact %>
      </p>
      <div class="votes">
        Votes: <%= @fact.vote.count %>
      </div>
      <!-- Vote button -->
      <%= form_with model: @fact, method: :patch do |f| %>
      <%= f.hidden_field :vote %>
      <div class="card-nav">
        <%= f.submit 'Vote', class: 'btn btn-primary' %>
        <%= link_to button_tag('Next Random Fact', class: 'btn btn-info'), fact_path('random') %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%#= link_to 'Edit', edit_fact_path(@fact) %>
<%#= link_to 'Back', facts_path %>
